
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Talgat's demo store</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Welcome to Talgat's store</h1>
    <img th:src="@{/images/food.png}" width=300px, height=auto/>

    <h1>Ваша корзина:</h1>
    <table>
        <tr>
            <th>Название продукта</th>
            <th>Цена</th>
        </tr>
        <tr th:each="item : ${cart.itemList}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Сумма</td>
            <td th:text=${cart.total}></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/store}" id="store">Добавить ещё продукты в корзину</a>
    <br>
    <a th:href="@{/cart}" id="cart">Перейти в корзину</a><br>
    <form method="POST" th:action="@{/checkout}" th:object="${order}">
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
            Что-то пошло не так :(
            </span>
        </div>

        <h3>Кому и куда доставить ваши продукты?</h3>
        <label for="deliveryAddress">Адрес: </label>
        <input type="text" th:field="*{deliveryAddress}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryAddress')}"
              th:errors="*{deliveryAddress}">deliveryAddress Error</span>

        <br/>
        <h3>Ваше имя?</h3>
        <label for="deliveryName">Имя: </label>
        <input type="text" th:field="*{deliveryName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryName')}"
              th:errors="*{deliveryName}">deliveryName Error</span>

        <br/>
        <h3>Ваше имейл?</h3>
        <label for="email">Имейл: </label>
        <input type="text" th:field="*{email}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">deliveryName Error</span>

        <br/>
        <h3>Комментарии к заказу?</h3>
        <label for="comment">Комментарий: </label>
        <input type="text" th:field="*{comment}"/>

        <br/>
        <input type="submit" value="Submit order"/>
    </form>

    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>