<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Talgat's demo store</title>
</head>
<body>
	<h1>Welcome to Talgat's store</h1>
	<img th:src="@{/images/food.png}" width=300px, height=auto/>
	<br>
	<a th:href="@{/store}" id="store">Перейти в магазин</a><br>
	<div sec:authorize="hasRole('ADMIN')">
		<a th:href="@{/admin}" id="admin">Страница админа</a><br>
	</div>
	<br>
	<form method="post" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
	</form>
</body>
</html>