<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Welcome to Talgat's store</h1>
    <img th:src="@{/images/food.png}" width=300px, height=auto/>

    <form method="POST" th:action="@{/items}" th:object="${cart}">
<!--        <div class="grid">-->
<!--&lt;!&ndash;            <div class="ingredient-group" id="wraps">&ndash;&gt;-->
<!--                <h3>Выберите продукты:</h3>-->
<!--                    <div th:each="item : ${items}">-->
<!--                        <input th:field="*{itemIds}" type="checkbox"-->
<!--                               th:value="${item.id}"/>-->
<!--                        <span th:text="${item.name}">ITEM</span><br/>-->
<!--                    </div>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
        <table>
            <tr>
                <th></th>
                <th>Название продукта</th>
                <th>Цена</th>
            </tr>
            <tr th:each="item : ${items}">
                <td><input th:field="*{itemList}" type="checkbox" th:value="${item.id}"/></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </table>
        <div>
            <h3>Комментарий к заказу:</h3>
<!--            <input type="text" th:field="*{comment}"><br/>-->
            <button>Добавить товары в корзину</button>
        </div>
    </form>
</body>
</html>