<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Talgat's demo store</title>
</head>
<body>
<h1>Регистрация</h1>
<img th:src="@{/images/food.png}" width=300px, height=auto/>

<form method="POST" th:action="@{/register}" id="registerForm">

  <label for="username">Имя пользователя: </label>
  <input type="text" name="username" id="username"/><br/>

  <label for="password">Пароль: </label>
  <input type="password" name="password" id="password"/><br/>

  <label for="confirm">Повторите пароль: </label>
  <input type="password" name="confirm" id="confirm"/><br/>

  <label for="fullname">Полное имя: </label>
  <input type="text" name="fullName" id="fullname"/><br/>

  <label for="address">Адрес: </label>
  <input type="text" name="address" id="address"/><br/>

  <label for="email">e-mail: </label>
  <input type="text" name="email" id="email"/><br/>

  <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>